<!-- <app-signup></app-signup> -->
<div class="container">
    <form  >
    <div class="form-group">
<h3 class="centered" style ="color:#266167;font-weight:500;color:red;text-align:center;font-size: 18px;   "> ENTRY FORM</h3>
<h3 style="text-align:center">
    Sign Up
</h3>
<div class="col-lg-12" style="border:1px outset lightgrey;width:100%;box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);  transition: 0.5s;  border-radius: 8px;">
</div>
<app-navbar></app-navbar>

<router-outlet></router-outlet>
</div>

<div >
    <div class="form-group">
        <div class="col-lg-12">
            <!-- <app-login></app-login> -->
            <!-- <app-register></app-register> -->
             <!-- <app-register-template></app-register-template> -->
    
        </div>
    </div>
    
</div> 
</form>

<!-- </div> -->
<!-- <div class="row" style="width:100%" >
    <div class="col-lg-12" style="border:1px outset lightgrey;width:100%;box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);  transition: 0.5s;  border-radius: 8px;">
        <div id="myGroup">   
          <div class="accordion-group" >
              <div  id="attrs">
               
                <div  >
                    <ul > 
       
                        <li><a href="AccountFinancialDetails.aspx"><i class="icon_key_alt"></i> UCs Entry Form</a></li>
                         <li><a href="Account_beneficiaryEntry.aspx"><i class="icon_key_alt"></i> Beneficiary Entry Form</a></li>
                          <li><a href="AccountFinancialRpt.aspx"><i class="icon_key_alt"></i> Report</a></li>
                         <li><a href="AccountLogout.aspx"><i class="icon_key_alt"></i> Logout</a></li>
                                     </ul>
                   
                    
              </div>
            </div>
        </div>
    </div>
</div> -->